package scrollfade

templ ScrollFadeOverflow() {
	<div class="mx-auto w-full max-w-xs overflow-hidden rounded-2xl border">
		<div class="scroll-fade scrollbar-none overflow-y-auto">
			@scrollFadeNumberedItems(3)
		</div>
	</div>
}
