package attachment

import (
	"github.com/axadrn/shadcn-templ/v2/components/attachment"
	"github.com/axadrn/shadcn-templ/v2/components/icon"
)

templ AttachmentGroup() {
	<div class="mx-auto w-full max-w-sm py-12">
		@attachment.Group(attachment.GroupProps{Class: "w-full"}) {
			for _, item := range attachmentGroupItems {
				@attachment.Attachment(attachment.Props{Class: "w-64"}) {
					if item.Src != "" {
						@attachment.Media(attachment.MediaProps{Variant: attachment.MediaVariantImage}) {
							<img src={ item.Src } alt={ item.Name }/>
						}
					} else if item.Icon != nil {
						@attachment.Media() {
							@item.Icon()
						}
					}
					@attachment.Content() {
						@attachment.Title() {
							{ item.Name }
						}
						@attachment.Description() {
							{ item.Meta }
						}
					}
					@attachment.Actions() {
						@attachment.Action(attachment.ActionProps{Attributes: templ.Attributes{"aria-label": "Remove " + item.Name}}) {
							@icon.X()
						}
					}
				}
			}
		}
	</div>
}
