package menubar

import "github.com/axadrn/shadcn-templ/v2/components/menubar"

templ MenubarRadio() {
	@menubar.Menubar(menubar.Props{Class: "w-72"}) {
		@menubar.Menu() {
			@menubar.Trigger() {
				Profiles
			}
			@menubar.Content() {
				@menubar.RadioGroup(menubar.RadioGroupProps{DefaultValue: "benoit"}) {
					@menubar.RadioItem(menubar.RadioItemProps{Value: "andy"}) {
						Andy
					}
					@menubar.RadioItem(menubar.RadioItemProps{Value: "benoit"}) {
						Benoit
					}
					@menubar.RadioItem(menubar.RadioItemProps{Value: "luis"}) {
						Luis
					}
				}
				@menubar.Separator()
				@menubar.Item(menubar.ItemProps{Inset: true}) {
					Edit...
				}
				@menubar.Item(menubar.ItemProps{Inset: true}) {
					Add Profile...
				}
			}
		}
		@menubar.Menu() {
			@menubar.Trigger() {
				Theme
			}
			@menubar.Content() {
				@menubar.RadioGroup(menubar.RadioGroupProps{DefaultValue: "system"}) {
					@menubar.RadioItem(menubar.RadioItemProps{Value: "light"}) {
						Light
					}
					@menubar.RadioItem(menubar.RadioItemProps{Value: "dark"}) {
						Dark
					}
					@menubar.RadioItem(menubar.RadioItemProps{Value: "system"}) {
						System
					}
				}
			}
		}
	}
}
