package inputotp

import "github.com/axadrn/shadcn-templ/v2/components/inputotp"

templ InputOTPDemo() {
	@inputotp.InputOTP(inputotp.Props{MaxLength: 6, DefaultValue: "123456"}) {
		@inputotp.Group() {
			@inputotp.Slot(inputotp.SlotProps{Index: 0})
			@inputotp.Slot(inputotp.SlotProps{Index: 1})
			@inputotp.Slot(inputotp.SlotProps{Index: 2})
			@inputotp.Slot(inputotp.SlotProps{Index: 3})
			@inputotp.Slot(inputotp.SlotProps{Index: 4})
			@inputotp.Slot(inputotp.SlotProps{Index: 5})
		}
	}
}
