package inputotp

import (
	"github.com/axadrn/shadcn-templ/v2/components/inputotp"
	"github.com/axadrn/shadcn-templ/v2/utils"
)

templ InputOTPDisabled() {
	@inputotp.InputOTP(inputotp.Props{ID: "disabled", MaxLength: 6, Disabled: true, Value: utils.Ptr("123456")}) {
		@inputotp.Group() {
			@inputotp.Slot(inputotp.SlotProps{Index: 0})
			@inputotp.Slot(inputotp.SlotProps{Index: 1})
			@inputotp.Slot(inputotp.SlotProps{Index: 2})
		}
		@inputotp.Separator()
		@inputotp.Group() {
			@inputotp.Slot(inputotp.SlotProps{Index: 3})
			@inputotp.Slot(inputotp.SlotProps{Index: 4})
			@inputotp.Slot(inputotp.SlotProps{Index: 5})
		}
	}
}
