package sidebar

import (
	"github.com/axadrn/shadcn-templ/v2/components/collapsible"
	"github.com/axadrn/shadcn-templ/v2/components/icon"
	"github.com/axadrn/shadcn-templ/v2/components/sidebar"
)

templ SidebarGroupCollapsible() {
	@sidebar.Provider() {
		@sidebar.Sidebar() {
			@sidebar.Content() {
				@collapsible.Collapsible(collapsible.Props{DefaultOpen: true, Class: "group/collapsible"}) {
					@sidebar.Group() {
						@sidebar.GroupLabel(sidebar.GroupLabelProps{
							Class:      "text-sm hover:bg-sidebar-accent hover:text-sidebar-accent-foreground",
							Attributes: collapsible.Trigger(ctx),
						}) {
							Help
							@icon.ChevronDown(icon.Props{Class: "ml-auto transition-transform group-data-[state=open]/collapsible:rotate-180"})
						}
						@collapsible.Content() {
							@sidebar.GroupContent() {
								@sidebarHelpMenu()
							}
						}
					}
				}
			}
		}
	}
}
