package selectex

import selectcomp "github.com/axadrn/shadcn-templ/v2/components/select"

templ SelectDisabled() {
	@selectcomp.Select(selectcomp.Props{Items: selectFruits, Disabled: true}) {
		@selectcomp.Trigger(selectcomp.TriggerProps{Class: "w-full max-w-48"}) {
			@selectcomp.Value()
		}
		@selectcomp.Content() {
			@selectcomp.Group() {
				for _, item := range selectFruits {
					@selectcomp.Item(selectcomp.ItemProps{Value: item.Value, Disabled: item.Value == "grapes"}) {
						{ item.Label.(string) }
					}
				}
			}
		}
	}
}
