package selectex

import selectcomp "github.com/axadrn/shadcn-templ/v2/components/select"

templ SelectDemo() {
	@selectcomp.Select(selectcomp.Props{Items: selectFruits}) {
		@selectcomp.Trigger(selectcomp.TriggerProps{Class: "w-full max-w-48"}) {
			@selectcomp.Value()
		}
		@selectcomp.Content() {
			@selectcomp.Group() {
				@selectcomp.Label() {
					Fruits
				}
				for _, item := range selectFruits {
					@selectcomp.Item(selectcomp.ItemProps{Value: item.Value}) {
						{ item.Label.(string) }
					}
				}
			}
		}
	}
}
