package scrollarea

import (
	"fmt"

	"github.com/axadrn/shadcn-templ/v2/components/scrollarea"
	"github.com/axadrn/shadcn-templ/v2/components/separator"
)

var scrollAreaTags = func() []string {
	tags := make([]string, 50)
	for i := range tags {
		tags[i] = fmt.Sprintf("v1.2.0-beta.%d", len(tags)-i)
	}
	return tags
}()

templ ScrollAreaDemo() {
	@scrollarea.ScrollArea(scrollarea.Props{Class: "h-72 w-48 rounded-md border"}) {
		@scrollAreaTagList()
	}
}

templ scrollAreaTagList() {
	<div class="p-4">
		<h4 class="mb-4 text-sm leading-none font-medium">Tags</h4>
		for _, tag := range scrollAreaTags {
			<div class="text-sm">{ tag }</div>
			@separator.Separator(separator.Props{Class: "my-2"})
		}
	</div>
}
