package examples

import (
	"github.com/axadrn/shadcn-templ/v2/components/button"
	"github.com/axadrn/shadcn-templ/v2/components/icon"
)

templ ButtonWithIcon() {
	<div class="flex gap-2">
		@button.Button(button.Props{Variant: button.VariantOutline}) {
			@icon.GitBranch(icon.Props{Attributes: templ.Attributes{"data-icon": "inline-start"}})
			New Branch
		}
		@button.Button(button.Props{Variant: button.VariantOutline}) {
			Fork
			@icon.GitFork(icon.Props{Attributes: templ.Attributes{"data-icon": "inline-end"}})
		}
	</div>
}
