package examples

import "github.com/axadrn/shadcn-templ/v2/components/calendar"

templ CalendarCaption() {
	@calendar.Calendar(calendar.Props{
		Mode:          calendar.ModeSingle,
		CaptionLayout: calendar.CaptionLayoutDropdown,
		Class:         "rounded-lg border",
	})
}
