package examples

import (
	"github.com/axadrn/shadcn-templ/v2/components/field"
	"github.com/axadrn/shadcn-templ/v2/components/input"
	"github.com/axadrn/shadcn-templ/v2/components/inputgroup"
)

templ InputGroupBasic() {
	@field.Group() {
		@field.Field() {
			@field.Label(field.LabelProps{For: "input-default-01"}) {
				Default (No Input Group)
			}
			@input.Input(input.Props{Placeholder: "Placeholder", ID: "input-default-01"})
		}
		@field.Field() {
			@field.Label(field.LabelProps{For: "input-group-02"}) {
				Input Group
			}
			@inputgroup.InputGroup() {
				@inputgroup.Input(inputgroup.InputProps{ID: "input-group-02", Placeholder: "Placeholder"})
			}
		}
		@field.Field(field.Props{Attributes: templ.Attributes{"data-disabled": "true"}}) {
			@field.Label(field.LabelProps{For: "input-disabled-03"}) {
				Disabled
			}
			@inputgroup.InputGroup() {
				@inputgroup.Input(inputgroup.InputProps{
					ID:          "input-disabled-03",
					Placeholder: "This field is disabled",
					Disabled:    true,
				})
			}
		}
		@field.Field(field.Props{Attributes: templ.Attributes{"data-invalid": "true"}}) {
			@field.Label(field.LabelProps{For: "input-invalid-04"}) {
				Invalid
			}
			@inputgroup.InputGroup() {
				@inputgroup.Input(inputgroup.InputProps{
					ID:          "input-invalid-04",
					Placeholder: "This field is invalid",
					Attributes:  templ.Attributes{"aria-invalid": "true"},
				})
			}
		}
	}
}
