package examples

import (
	"github.com/axadrn/shadcn-templ/v2/components/icon"
	"github.com/axadrn/shadcn-templ/v2/components/menubar"
)

templ MenubarIcons() {
	@menubar.Menubar(menubar.Props{Class: "w-72"}) {
		@menubar.Menu() {
			@menubar.Trigger() {
				File
			}
			@menubar.Content() {
				@menubar.Item() {
					@icon.File()
					New File
					@menubar.Shortcut() {
						⌘N
					}
				}
				@menubar.Item() {
					@icon.Folder()
					Open Folder
				}
				@menubar.Separator()
				@menubar.Item() {
					@icon.Save()
					Save
					@menubar.Shortcut() {
						⌘S
					}
				}
			}
		}
		@menubar.Menu() {
			@menubar.Trigger() {
				More
			}
			@menubar.Content() {
				@menubar.Group() {
					@menubar.Item() {
						@icon.Settings()
						Settings
					}
					@menubar.Item() {
						@icon.CircleQuestionMark()
						Help
					}
					@menubar.Separator()
					@menubar.Item(menubar.ItemProps{Variant: menubar.ItemVariantDestructive}) {
						@icon.Trash()
						Delete
					}
				}
			}
		}
	}
}
