package examples

import "github.com/axadrn/shadcn-templ/v2/components/nativeselect"

templ NativeSelectDisabled() {
	@nativeselect.NativeSelect(nativeselect.Props{Disabled: true}) {
		@nativeselect.Option(nativeselect.OptionProps{Value: ""}) {
			Disabled
		}
		@nativeselect.Option(nativeselect.OptionProps{Value: "apple"}) {
			Apple
		}
		@nativeselect.Option(nativeselect.OptionProps{Value: "banana"}) {
			Banana
		}
		@nativeselect.Option(nativeselect.OptionProps{Value: "blueberry"}) {
			Blueberry
		}
	}
}
