package examples

import (
	"github.com/axadrn/shadcn-templ/v2/components/dropdownmenu"
	"github.com/axadrn/shadcn-templ/v2/components/icon"
	"github.com/axadrn/shadcn-templ/v2/components/sidebar"
)

templ SidebarHeader() {
	@sidebar.Provider() {
		@sidebar.Sidebar() {
			@sidebar.Header() {
				@sidebar.Menu() {
					@sidebar.MenuItem() {
						@dropdownmenu.DropdownMenu() {
							@sidebar.MenuButton(sidebar.MenuButtonProps{
								Class:      "data-[state=open]:bg-sidebar-accent data-[state=open]:text-sidebar-accent-foreground",
								Attributes: dropdownmenu.Trigger(ctx),
							}) {
								Select Workspace
								@icon.ChevronDown(icon.Props{Class: "ml-auto"})
							}
							@dropdownmenu.Content(dropdownmenu.ContentProps{Class: "w-(--radix-popper-anchor-width)"}) {
								@dropdownmenu.Item() {
									<span>Acme Inc</span>
								}
								@dropdownmenu.Item() {
									<span>Acme Corp.</span>
								}
							}
						}
					}
				}
			}
		}
		@sidebar.Inset() {
			<header class="flex h-12 items-center justify-between px-4">
				@sidebar.Trigger()
			</header>
		}
	}
}
