package button

import "github.com/axadrn/shadcn-templ/v2/components/button"

// The link takes the button's look through buttonVariants, it is no Button.
templ ButtonRender() {
	<a href="#" class={ button.Variants(button.Props{Variant: button.VariantSecondary, Size: button.SizeSm}) }>
		Login
	</a>
}
